body {
background-color: #92c3f5;
  color: #333;
}

/* Header */
header {
  background: linear-gradient(135deg, #1976d2, #2196f3);
  color: white;
  text-align: center;
  padding: 35px 20px;
}

header p {
  margin-top: 10px;
  font-size: 16px;
}

/* Navigation */
nav {
background-color: #ffffff;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

nav a {
  text-decoration: none;
  color: #4aade7;
  font-weight: bold;
}

nav a:hover {
  color: #0d47a1;
}
/* Container */
.container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 20px;
}

/* Sections */
section {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 25px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

section h2,
section h3 {
  color: #1976d2;
  margin-bottom: 15px;
}

section p,
section li {
  line-height: 1.6;
  font-size: 15px;
}

/* Lists */
ul {
  padding-left: 20px;
}

/* Highlight boxes */
.highlight-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.box {
  background-color: #e3f2fd;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  font-weight: bold;
}